<div ng-controller="ProjectsController">
	<div class="container u-mb-xxl u-mt-xxl">
        <div class="row u">
            <div class="col-md-6">
                <img src="http://placehold.it/450x450">
            </div>
            <div class="col-md-6">
                <h3 class="page-header">Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id mauris laoreet, fringilla dolor sed, hendrerit ex. Aenean lectus ex, auctor vitae ipsum eget, lacinia ultricies odio.</p>
            </div>
        </div>
        <div class="row u-mt-yuge">
            <div class="col-md-6">
                <h3 class="page-header">Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id mauris laoreet, fringilla dolor sed, hendrerit ex. Aenean lectus ex, auctor vitae ipsum eget, lacinia ultricies odio.</p>
            </div>
            <div class="col-md-6">
                <img src="http://placehold.it/450x450">
            </div>
        </div>
        <div class="row u-mt-yuge">
            <div class="col-md-6">
                <img src="http://placehold.it/450x450">
            </div>
            <div class="col-md-6">
                <h3 class="page-header">Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id mauris laoreet, fringilla dolor sed, hendrerit ex. Aenean lectus ex, auctor vitae ipsum eget, lacinia ultricies odio.</p>
            </div>
        </div>
    </div>
</div>