<div ng-controller='HeaderController'>
	<div id="header_icons" class="row text-center">
    	<div class="col-12-xl">
	    	<div class="u-w-24">
				<div>
					<a ui-sref="home">
						<div>
							<!--<img ng-click="activate()" ng-src="{{listIcons[listActive].src}}"/>-->
						</div>
						Home
					</a>
				</div>
			</div>
	    	<div class="u-w-24">
	    		<div>
	    			<a ui-sref="projects">
	    				<div>
		    				<!--<img ng-click="activateGroups()" ng-src="{{groupsIcons[groupsActive].src}}"/>-->
		    			</div>
		    			Projects
		    		</a>
	    		</div>
	    	</div>
			<div class="u-w-24">
				<div>
					<a ui-sref="contact">
						<div>
							<!--<img ng-click="activateSettings()" ng-src="{{settingsIcons[settingsActive].src}}"/>-->
						</div>
						Contact
					</a>
				</div>
			</div>
		</div>
	</div>
</div>